<div class="flex w-screen overflow-hidden">
  @if (!hideNavBar) {<app-side-menu />}
  <main
    class="flex-1 px-4 py-4 sm:p-8 w-[calc(100vw-5rem)] sm:w-[calc(100vw-7rem)] flex flex-col h-screen overflow-auto"
  >
    <router-outlet />
  </main>
</div>
<span class="fixed p-4 bottom-0 right-0 text-dark-600">
  <small
    >Developed by
    <a
      href="https://theshawa-dev.web.app"
      target="_blank"
      title="Visit Theshawa Dasun"
      class="underline"
      >Theshawa Dasun</a
    ></small
  >
</span>
